@page "/"
@namespace LuckyBlazor.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>LuckyBlazor</title>
    <base href="~/"/>
    <link rel="stylesheet" href="css/bootstrap/bootstrap.min.css"/>
    <link href="css/site.css" rel="stylesheet"/>
    <script src="_framework/blazor.webassembly.js"></script>
    <script>
    function checkBeginner(id, result)
    {
        result = document.getElementById(id).checked;
        window.alert(result);
        }
    </script>
    <script>
    function setBackgroundImage()
    {
        document.body.style.backgroundImage = "url('background.gif')";
        }
    </script>
    <script>
    function show()
    {
        document.getElementById("buildTable").style.display = "block";
        document.getElementById("tablesField").style.display = "none";
        }
    </script>
    <script>
    function navigateBack()
    {
        document.getElementById("tablesField").style.display="block";
        document.getElementById("buildTable").style.display="none";
        }
    </script>
    <script>
    function follow()
    {
        document.getElementById("follow").style.display = "none";
        document.getElementById("unfollow").style.display = "block";
        }
      function unfollow()
          {
              document.getElementById("follow").style.display = "block";
              document.getElementById("unfollow").style.display = "none";
              }
    </script>
    <script>
    function makeGreen(id)
    {        
        document.getElementById(id).style.color='green';
        }

    
    // When the user clicks the button, open the modal 
    function clickButton(id)
     {
      document.getElementById(id).style.display = "block";
    }
    
    // When the user clicks on <span> (x), close the modal
    function clickSpan(id) {
      document.getElementById(id).style.display = "none";
    }
    
    </script>
    <script>
    function makeBlack(blackIds)
    {
        document.getElementById(blackIds).style.color = 'black';
        }
    </script>
    <script>
    function sendAlert()
    {
        window.alert("Power supply has been exceeded")
        }
    </script>
    <script>
    function sendMotherboardAlert()
    {
        window.alert("Choose a motherboard first!");
        }
        function allComponents()
        {
            window.alert("Please select components of all types");
            }
            function chosenComponent(content)
            {
                window.alert(content);
                }
    </script>
    <script>
    function beginner()
    {
        document.getElementById("beginner").style.display="block";
        document.getElementById("advanced").style.display="none";
        }    
        function advanced()
             {
                 document.getElementById("beginner").style.display="none";
                 document.getElementById("advanced").style.display="block";
                 }
    </script>
    
</head>
<body>
<app>
    <component type="typeof(App)" render-mode="Server"/>
</app>

<div id="blazor-error-ui">
    <environment include="Staging,Production">
        An error has occurred. This application may no longer respond until reloaded.
    </environment>
    <environment include="Development">
        An unhandled exception has occurred. See browser dev tools for details.
    </environment>
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>

<script src="_framework/blazor.server.js"></script>
</body>
</html>