@page "/"
@namespace LuckyBlazor.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>LuckyBlazor</title>
    <base href="~/"/>
    <link rel="stylesheet" href="css/bootstrap/bootstrap.min.css"/>
    <link href="css/site.css" rel="stylesheet"/>
    <script src="_framework/blazor.webassembly.js"></script>
    <script>
    function check(id, result)
    {
        result = document.getElementById(id).checked;
        }
    </script>
    <script>
    function setBackgroundImage()
    {
        document.body.style.backgroundImage = "url('background.gif')";
        }
    </script>
    <script>
    function show()
    {
        document.getElementById("buildTable").style.display = "block";
        document.getElementById("tablesField").style.display = "none";
        }
    </script>
    <script>
    function navigateBack()
    {
        document.getElementById("tablesField").style.display="block";
        document.getElementById("buildTable").style.display="none";
        }
    </script>
    <script>
    function makeGreen(id)
    {        
        document.getElementById(id).style.color='green';
        }
    </script>
    <script>
    function makeBlack(blackIds)
    {
        document.getElementById(blackIds).style.color = 'black';
        }
    </script>
    <script>
    function sendAlert()
    {
        window.alert("Power supply has been exceeded")
        }
    </script>
</head>
<body>
<app>
    <component type="typeof(App)" render-mode="Server"/>
</app>

<div id="blazor-error-ui">
    <environment include="Staging,Production">
        An error has occurred. This application may no longer respond until reloaded.
    </environment>
    <environment include="Development">
        An unhandled exception has occurred. See browser dev tools for details.
    </environment>
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>

<script src="_framework/blazor.server.js"></script>
</body>
</html>