@page "/AddNewComponent"
@using LuckyBlazor.Model
@inject IComponentService ComponentService
<center><h3>Add component</h3></center>
<div class="componentsForm">
    <input type="text" placeholder="Name..." @bind-value="_name">
    <input type="text" placeholder="Type..." @bind-value="_type">
    <br>
    <input type="text" placeholder="Release year..." @bind-value="_releaseYear">
    <br>
    <input type="text" placeholder="Brand..." @bind-value="_brand">
    <br>
    <input type="text" placeholder="Additional Information..." @bind-value="_additionalInformation">
    <br>
    <div style="color:red">@_errorMessage</div>
    <button type="button" @onclick="CreateComponent" class="loginButtons">Create</button>

</div>
@code {
    private string _name;
    private string _type;
    private string _releaseYear;
    private string _brand;
    private string _additionalInformation;

    private string _errorMessage;

    private void CreateComponent()
    {
        try
        {
            if (!_name.Any() || !_brand.Any() || !_type.Any() || !_releaseYear.Any())
            {
                return;
            }
            Component newComponent = new Component(_name, _type, _releaseYear, _brand, _additionalInformation);
            ComponentService.AddNewComponentAsync(newComponent);
            Console.WriteLine(newComponent);
            _name = "";
            _type = "";
            _releaseYear = "";
            _brand = "";
            _additionalInformation = "";
            _errorMessage = "The component has been added.";
        }
        catch (Exception e)
        {
            _errorMessage = "Please fill in all fields.";
        }
    }
}