@page "/EditProfile/{UserId}"
@using LuckyBlazor.Model
@inject IAccountService AccountService

<div class="loginForm">
    <input type="text" placeholder="Name..." @bind-value="_name">
    <input type="text" placeholder="Username..." @bind-value="_username">
    <br>
    <input type="password" placeholder="Password.." @bind-value="_password">
    <br>
    <div style="color:red">@_errorMessage</div>
    <button type="button" @onclick="UpdateAccount" class="loginButtons">Login</button>
    <p>Do you want to delete your account?</p>
    <a href="" @onclick="DeleteAccount">Delete account</a>

</div>
@code {
    private string _username;
    private string _name;
    private string _password;
    private string _errorMessage;

    [Parameter]
    public string UserId { get; set; }
    private async Task UpdateAccount()
    {
        _errorMessage = "";
        try
        {
            if (!_name.Any() || !_username.Any() || !_password.Any())
            {
                return;
            }
            Account account = new Account(Int32.Parse(UserId), _username, _password, _name);
            String result = await AccountService.EditAccount(account);
            if (result.Equals("\"Account already exists\""))
            {
                _errorMessage = result;
                _username = "";
                _name = "";
                _password = "";
                return;
            }
            _username = "";
            _name = "";
            _password = "";
        }
        catch (Exception e)
        {
            Console.WriteLine(e);
            _errorMessage = e.Message;
            throw;
        }
    }

    public async Task DeleteAccount()
    {
        try
        {
            await AccountService.DeleteAccount(Int32.Parse(UserId));
        }
        catch (Exception e)
        {
            Console.WriteLine(e);
            throw;
        }
    }
}