@page "/Forum"
@inject IForumService ForumService
@inject NavigationManager NavigationManager
@using LuckyBlazor.Model.Forum
@using LuckyBlazor.Data.ForumService
<h3>Forum</h3>
<table class="table">
    <tbody>
    @foreach (var variable in _posts)
    {
        <tr>
            <td><a href="" @onclick="@(() =>goToUserProfile(@variable.Username))">@variable.Username</a></td>
            <td>@variable.Content</td>
        </tr>
    }
    </tbody>
</table>
@code {
    private PostList _postList = new PostList();
    private IList<Post> _posts = new List<Post>();

    protected override async Task OnInitializedAsync()
    {
        _postList = await ForumService.GetAllPosts();
        for (int i = 0; i < _postList.Size(); i++)
        {
            _posts.Add(_postList.GetPost(i));
        }
    }

    public void goToUserProfile(string username)
    {
        NavigationManager.NavigateTo("/UserProfile/" + username);
    }
}