@page "/"
@inject NavigationManager NavigationManager
@inherits LayoutComponentBase
<div class="centered">
    <h1><b>COMPUTADOR</b></h1>
    <h4 style="color:#ff8800">Your Tech builder</h4>
</div>
<div class="container-fluid">

    <div class="row">
        <div class="col-12" id="mainPageButtons">
            <button type="button" @onclick="NavigateToLogin" class="mainButtons">Login</button>
            <button type="button" @onclick="NavigateToViewBuildsComponents" class="mainButtons">Builds & Components</button>
            <button type="button" @onclick="NavigateToForum" class="mainButtons">Forum</button>

        </div>
    </div>

</div>

@code {

    private void NavigateToLogin()
    {
        NavigationManager.NavigateTo("/Login");
    }

    private void NavigateToForum()
    {
        NavigationManager.NavigateTo("/Forum");
    }

    private void NavigateToViewBuildsComponents()
    {
        NavigationManager.NavigateTo("/ViewComponents");
    }

}