@page "/"
@inject NavigationManager NavigationManager
@inherits LayoutComponentBase
@* <div class="main plsWork"> *@
@*     <div class="topmenu"> *@
@*         <TopMenu/> *@
@*     </div> *@
@* *@
@*     <div class="content px-4"> *@
@*         @Body *@
@*     </div> *@
@* </div> *@
<body id="plsWork">
<div class="container-fluid">
    <div class="row">
        <div class="col-12" id="mainPageButtons">
            <button type="button" @onclick="NavigateToLogin" class="mainButtons">Login</button>
            <button type="button" @onclick="NavigateToViewBuildsComponents" class="mainButtons">Builds & Components</button>
            <button type="button" @onclick="NavigateToForum" class="mainButtons">Forum</button>

        </div>
    </div>

</div>
</body>

@code {

    public void NavigateToLogin()
    {
        NavigationManager.NavigateTo("/Login");
    }

    public void NavigateToForum()
    {
        NavigationManager.NavigateTo("/Forum");
    }

    public void NavigateToViewBuildsComponents()
    {
        NavigationManager.NavigateTo("/ViewComponents");
    }

}