@page "/MyPage{UserId}"
@inject NavigationManager NavigationManager
<h3>MyPage</h3>
<button @onclick="GoToEditProfile">Edit profile</button>
<button @onclick="GoToMyBuilds">My Builds</button>
@code {
    [Parameter]
    public string UserId { get; set; }

    private void GoToEditProfile()
    {
        NavigationManager.NavigateTo("/EditProfile/" + UserId);
    }

    private void GoToMyBuilds()
    {
        NavigationManager.NavigateTo("/MyBuilds/" + UserId);
    }
}