@page "/MyPage"
@using LuckyBlazor.Model
@using LuckyBlazor.Authentication
@inject NavigationManager NavigationManager
@inject AuthenticationStateProvider AuthenticationStateProvider
<h3>MyPage</h3>
<button @onclick="GoToEditProfile">Edit profile</button>
<button @onclick="GoToMyBuilds">My Builds</button>
<button @onclick="GoToCreateMyBuilds">Create build</button>
@code {
    private Account _account = new Account();

    protected override void OnInitialized()
    {
        _account = ((CustomAuthenticationStateProvider) AuthenticationStateProvider).CachedUser;
    }

    private void GoToEditProfile()
    {
        NavigationManager.NavigateTo("/EditProfile/" + _account.UserId);
    }

    private void GoToMyBuilds()
    {
        NavigationManager.NavigateTo("/MyBuilds");
    }

    private void GoToCreateMyBuilds()
    {
        NavigationManager.NavigateTo("/CreateBuild");
    }
}