@page "/RegisterAccount"
@using LuckyBlazor.Model
@inject IAccountService AccountService
@inject NavigationManager NavigationManager
<style>
.sidebar
{
display: none !important;
}
</style>

<div class="loginForm">
    <h3>Create a new account</h3>
    <input type="text" placeholder="Name..." @bind-value="_name">
    <input type="text" placeholder="Username..." @bind-value="_username">
    <br>
    <input type="password" placeholder="Password.." @bind-value="_password">
    <br>
    <div style="color:red">@_errorMessage</div>
    <br>
    <input type="submit" value="Login" @onclick="CreateAccount">

</div>

@code {
    private string _username;
    private string _name;
    private string _password;
    private string _errorMessage;

    private async Task CreateAccount()
    {
        _errorMessage = "";
        try
        {
            if (!_name.Any() || !_username.Any() || !_password.Any())
            {
                return;
            }
            Account newAccount = new Account(_username, _password, _name);
            String result = await AccountService.RegisterAccount(newAccount);
            if (result.Equals("\"Account already exists\""))
            {
                _errorMessage = result;
                _username = "";
                _name = "";
                _password = "";
                return;
            }
            _username = "";
            _name = "";
            _password = "";
            NavigationManager.NavigateTo("/");
        }
        catch (Exception e)
        {
            _errorMessage = "Please fill in all the fields.";
        }
    }

}