@page "/RegisterAccount"
@using LuckyBlazor.Model
@inject IAccountService AccountService
@inject NavigationManager NavigationManager
<style>
.sidebar
{
display: none !important;
}
</style>

<div class="loginForm">
    <h3>Create a new account</h3>
    <input type="text" placeholder="Name..." @bind-value="_name">
    <input type="text" placeholder="Username..." @bind-value="_username">
    <br>
    <input type="password" placeholder="Password.." @bind-value="_password">
    <br>
    <div style="color:red">@_errorMessage</div>
    <br>
    <input type="submit" value="Login" @onclick="CreateAccount">
</div>
@* <div class="form-group"> *@
@*         <label>Name:</label> *@
@*         <input type="text" placeholder="name" @bind-value="_name"/> *@
@*     </div> *@
@* <div class="form-group"> *@
@*         <label>Password</label> *@
@*         <input type="password" placeholder="password" @bind-value="_password"/> *@
@*     </div> *@
@*     <div class="form-group"> *@
@*                         <label>User name:</label> *@
@*                         <input type="text" placeholder="user name" @bind-value="_username"/> *@
@*                     </div> *@
@*                 <div style="color:red">@_errorMessage</div> *@
@*          *@
@*                 <a href="" @onclick="CreateAccount"> *@
@*                     Create *@
@*                 </a> *@
@code {
    private string _username;
    private string _name;
    private string _password;
    private string _errorMessage;

    private async Task CreateAccount()
    {
        _errorMessage = "";
        try
        {
            Account newAccount = new Account(_username, _password, _name);
            await AccountService.RegisterAccount(newAccount);
            _username = "";
            _name = "";
            _password = "";
            NavigationManager.NavigateTo("/");
        }
        catch (Exception e)
        {
            _errorMessage = e.Message;
        }
    }
}