@page "/UserProfile/{username}"
@using LuckyBlazor.Model
@using LuckyBlazor.Model.Forum
@inject IAccountService AccountService
<h3>UserProfile</h3>
<h6>@username's posts are</h6>
<table class="table">
    <tbody>
     @foreach (var variable in _posts)
         {
    <tr>
        <td>@username</td>
        <td>@variable.Content</td>
    </tr>
    }
    </tbody>
</table>


@code {            
    private Account currentAccount;
    private PostList _postList=new PostList();
    private IList<Post> _posts = new List<Post>();
    [Parameter]
    public string username { get; set; }

    protected override async Task OnInitializedAsync()
    {
        currentAccount = await AccountService.GetUserByUsername(username);
        _postList = currentAccount.PostList; 

        for (int i = 0; i < _postList.Size(); i++)
        {
            _posts.Add(_postList.GetPost(i));
        }

    }
    
}