@page "/UserProfile/{username}"
@using LuckyBlazor.Model
@using LuckyBlazor.Model.Forum
@inject IAccountService AccountService
<h3>UserProfile</h3>
<h6>@Username's posts are</h6>
<table class="table">
    <tbody>
     @foreach (var variable in _posts)
         {
    <tr>
        <td>@Username</td>
        <td>@variable.Content</td>
    </tr>
    }
    </tbody>
</table>


@code {            
    private Account _currentAccount;
    private IList<Post> _posts = new List<Post>();
    [Parameter]
    public string Username { get; set; }

    protected override async Task OnInitializedAsync()
    {
        _currentAccount = await AccountService.GetUserByUsername(Username);
        _posts= _currentAccount.PostList;
    }
    
}