@using LuckyBlazor.Authentication
@inject NavigationManager NavigationManager
@inject AuthenticationStateProvider AuthenticationStateProvider
<NavLink class="nav-link" href="">COMPUTADOR</NavLink>

<NavLink class="nav-link" href="Forum">
    @* <span class="oi oi-list-rich" aria-hidden="true"></span>  *@
    Forum
</NavLink>
<AuthorizeView>
<NavLink class="nav-link" href="CreateBuild">
    @* <span class="oi oi-person" aria-hidden="true"></span>  *@
    Create build
</NavLink>
</AuthorizeView>
<NavLink class="nav-link" href="ViewComponents">
    @* <span class="oi oi-list-rich" aria-hidden="true"></span>  *@
    Builds & Components
</NavLink>
<AuthorizeView>
    <NavLink class="nav-link" href="MyBuilds">
        My builds
    </NavLink>
</AuthorizeView>
<AuthorizeView Policy="Moderator">
    <NavLink class="nav-link" href="/AddNewComponent">Add components</NavLink>
</AuthorizeView>
<AuthorizeView Policy="Moderator">
    <NavLink class="nav-link" href="ViewReports">Reports
    </NavLink>
</AuthorizeView>
<AuthorizeView>
        <NavLink class="nav-link" href="MyPage">
            <span class="oi oi-person" aria-hidden="true"></span>
        </NavLink>
    </AuthorizeView>
    <AuthorizeView>
        <NavLink class="nav-link" href="Logout">
            <span class="oi oi-account-logout"></span>
        </NavLink>
    </AuthorizeView>

@code {
   
}